#! /bin/sh
# /etc/init.d/prometheus-proxy-agent
#
# prometheus-proxy-agent init script.
#
# @author Juan Carlos Alonso (@jcalonso)

### BEGIN INIT INFO
# Provides:          prometheus-proxy-agent
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start prometheus-proxy-agent at boot time.
# Description:       Enable prometheus-proxy-agent.
### END INIT INFO

PID=/var/run/prometheus-proxy-agent.pid
LOCK=/var/lock/prometheus-proxy-agent.lock
USER=nobody
BIN={{ prometheus_proxy_install_dir }}/prometheus-proxy-agent.jar
DAEMONIZE_BIN={{ prometheus_proxy_daemonize_bin_path }}

# Carry out specific functions when asked to by the system
case "$1" in
  start)
    echo "Starting prometheus-proxy-agent."
    $DAEMONIZE_BIN -p $PID -l $LOCK -u $USER $BIN
    ;;
  stop)
    if [ -f $PID ]; then
      echo "Stopping prometheus-proxy-agent.";
      kill -TERM $(cat $PID);
      rm -f $PID;
    else
      echo "prometheus-proxy-agent is not running.";
    fi
    ;;
  restart)
    echo "Restarting prometheus-proxy-agent."
    if [ -f $PID ]; then
      kill -TERM $(cat $PID);
      rm -f $PID;
    fi
    $DAEMONIZE_BIN -p $PID -l $LOCK -u $USER $BIN
    ;;
  status)
    if [ -f $PID ]; then
      echo "prometheus-proxy-agent is running.";
    else
      echo "prometheus-proxy-agent is not running.";
      exit 3
    fi
    ;;
  *)
    echo "Usage: /etc/init.d/prometheus-proxy-agent {start|stop|status|restart}"
    exit 1
    ;;
esac

exit 0
